
/* line 9 : /Users/Robert/Projects/github/React-tips/src/css/app.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 286 : /Users/Robert/Projects/github/React-tips/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /Users/Robert/Projects/github/React-tips/src/css/config.styl */

/* line 9 : /Users/Robert/Projects/github/React-tips/src/css/config.styl */

/* line 9 : /Users/Robert/Projects/github/React-tips/src/css/order.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/src/css/order.styl */
.method-order__list {
  padding-left: 30px;
  font-size: 16px;
}

/* line 5 : /Users/Robert/Projects/github/React-tips/src/css/order.styl */
.method-order__list-item {
  margin: 10px 0;
}

/* line 8 : /Users/Robert/Projects/github/React-tips/src/css/order.styl */
.order-example {
  padding-left: 30px;
}

/* line 9 : /Users/Robert/Projects/github/React-tips/src/css/order.styl */

/* line 9 : /Users/Robert/Projects/github/React-tips/src/css/bindings.styl */

/* line 9 : /Users/Robert/Projects/github/React-tips/src/css/bindings.styl */

/* line 9 : /Users/Robert/Projects/github/React-tips/src/css/map.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/src/css/map.styl */
.map {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
}

/* line 3 : /Users/Robert/Projects/github/React-tips/src/css/map.styl */

/* line 3 : /Users/Robert/Projects/github/React-tips/src/css/lifecycle.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/src/css/lifecycle.styl */
.lifecycle-methods__list {
  list-style-type: none;
  padding: 0;
}

/* line 5 : /Users/Robert/Projects/github/React-tips/src/css/lifecycle.styl */
.lifecycle-methods__list-item {
  margin: 10px 0;
}

/* line 6 : /Users/Robert/Projects/github/React-tips/src/css/lifecycle.styl */

/* line 6 : /Users/Robert/Projects/github/React-tips/src/css/modules.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/src/css/modules.styl */
.modules__header,
.modules__separator {
  font-weight: bold;
  font-size: 18px;
}

/* line 6 : /Users/Robert/Projects/github/React-tips/src/css/modules.styl */

/* line 7 : /Users/Robert/Projects/github/React-tips/src/css/modules.styl */
.modules__separator:before,
.modules__separator:after {
  padding: 0 5px;
  content: '--';
}
