
/* line 286 : /Users/Robert/Projects/github/React-tips/src/css/critical.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/src/css/critical.styl */
html,
body,
#root,
.app {
  font-family: Roboto;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 12 : /Users/Robert/Projects/github/React-tips/src/css/critical.styl */
code {
  font-family: monospace !important;
  font-size: 16px !important;
}

/* line 9 : /Users/Robert/Projects/github/React-tips/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /Users/Robert/Projects/github/React-tips/src/css/config.styl */

/* line 22 : /Users/Robert/Projects/github/React-tips/src/css/config.styl */

/* line 22 : /Users/Robert/Projects/github/React-tips/src/css/header.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/src/css/header.styl */
.app-header {
  background: #0cc;
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 11 : /Users/Robert/Projects/github/React-tips/src/css/header.styl */
.app-header__title {
  padding: 0 10px;
  color: #fff;
}

/* line 13 : /Users/Robert/Projects/github/React-tips/src/css/header.styl */

/* line 13 : /Users/Robert/Projects/github/React-tips/src/css/body.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/src/css/body.styl */
.app-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  position: absolute;
  top: 60px;
  overflow-y: auto;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* line 12 : /Users/Robert/Projects/github/React-tips/src/css/body.styl */
.inner-width {
  margin: 10px auto;
  width: 960px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

/* line 15 : /Users/Robert/Projects/github/React-tips/src/css/body.styl */

/* line 15 : /Users/Robert/Projects/github/React-tips/src/css/section.styl */

/* line 1 : /Users/Robert/Projects/github/React-tips/src/css/section.styl */
.section__title {
  font-weight: bold;
  text-align: left;
  font-size: 1.5em;
  width: 100%;
}

/* line 7 : /Users/Robert/Projects/github/React-tips/src/css/section.styl */
.section__content {
  margin: 20px;
}
